
  * {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: white;
}


header {
  border-bottom: 1px solid #e5e5e5;
}

.nav {
  max-width: 1440px;
  margin: 0 auto;
  padding: 18px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 28px;
}

.logo {
  font-weight: 800;
  letter-spacing: 2px;
  
  
}

.nav-left a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.nav-right {
  display: flex;
  gap: 12px;
  align-items: center;
}

.btn {
  color: inherit;
  font-size: 14px;
  padding: 6px 16px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}

.btn-out {
  background: transparent;
  border: 1px solid #ffffff;

}

.btn-filled {
  background: #000;
  color: #fff;
  border: none;
}


.promo {
  padding: 64px 0;
}

.promoinner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
}

.promo.reverse .promoinner {
  flex-direction: row-reverse;
}

.promo-text {
  width: 100%;

  padding: 0 40px;
}

.promo-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 1.2;
}

.promo-text p {
  font-size: 16px;
  margin-bottom: 28px;
  max-width: 420px;
}

.promo-text .btn-outline {
  border-color: #fff;
  color: #fff;
}

.promo img {
  width: 50%;
  object-fit: cover;
}

.greenBox { 
  background: rgb(0, 100, 70);
   color: #fff;
 }
.redBox { background: rgb(160, 26, 50);
   color: #fff;
   margin-top: 35px;
   }



footer {
  padding: 40px;
  border-top: 1px solid #e5e5e5;
  font-size: 14px;
  color: #666;
}

